{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Enterprise list" %} {% endblock %}
{% block content %}
    <table id="t01">
        <tr>
            <th>#</th>
            <th>{% trans "Monto total" %}</th>
            <th>{% trans "Cuotas" %}</th>
            <th>{% trans "Tasa" %}</th>
            <th>{% trans "Reacudado" %}</th>
            <th>{%  trans "Evento" %}</th>
            <th>{% trans "Acciones" %}</th>
        </tr>
        {% for loan in object_list %}
            <tr>
                <td>{{ loan.id }}</td>
                <td>{{ loan.total_amount }}</td>
                <td>{{ loan.payment_fee }}</td>
                <td>{{ loan.rate }}</td>
                <td>{{ loan.collection }}</td>
                <td>{{ loan.event}}</td>
                <td>
                    <a href="{% url 'loan_edit' loan.id %}">Editar</a>
                    <a href="{% url 'loan_delete' loan.id %}">Eliminar</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}