{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Enterprise list" %} {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-4">
            <table class="table table-striped loan">
                <thead>
                    <tr class="info">
                        <th>{% trans "Monto total" %}</th>
                        <th>{% trans "Cuotas" %}</th>
                        <th>{% trans "Tasa" %}</th>
                        <th>{% trans "Reacudado" %}</th>
                        <th>{%  trans "Evento" %}</th>
                        <th>{% trans "Acciones" %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for loan in object_list %}
                    <tr>
                        <td>{{ loan.total_amount }}</td>
                        <td>{{ loan.payment_fee }}</td>
                        <td>{{ loan.rate }}</td>
                        <td>{{ loan.collection }}</td>
                        <td>{{ loan.event}}</td>
                        <td class="actions">
                            <a href="{% url 'loan_edit' loan.id %}">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                                Editar
                            </a>
                            <a href="{% url 'loan_delete' loan.id %}">
                                <i class="fa fa-remove" aria-hidden="true"></i>
                                Eliminar
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}