appdirs==1.4.3
Django==1.10.5
django-datetime-widget==0.9.3
django-location-field==2.0.2
django-registration-redux==1.4
mongoengine==0.11.0
mongogeneric==0.1a0
packaging==16.8
pymongo==3.4.0
pyparsing==2.1.10
pytz==2016.10
six==1.10.0