{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block headers_login %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <script src='http://codepen.io/andytran/pen/vLmRVp.js'></script>
{% endblock %}
{% block content_login %}
    <div class="module form-module">
      <div class="toggle"></div>
        <div class="form">
            <h2>{% trans 'Login to your account' %}</h2>
            <form method="post" action=".">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />
                <input type="text" name="username" placeholder="{% trans 'Username' %}"/>
                <input type="password" name="password" placeholder="{% trans 'Password' %}"/>
                <button>{% trans 'Iniciar Sesión' %}</button>
            </form>
        </div>
        <div class="cta"><a href="{% url 'auth_password_reset' %}">{% trans "Forgot password" %}?</a></div>
    </div>
{% endblock %}
