{% extends "base.html" %}
{% load i18n %}

{% block content_login %}
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <p>{% trans "Password reset successfully" %}</p>
    </div>
    <div class="row">
        <div class="col-sm-offset-2 col-sm-2">
            <p><a class="btn btn-success" href="{% url 'auth_login' %}">{% trans "Log in" %}</a></p>
        </div>
    </div>
{% endblock %}
