{% extends "base.html" %}
{% load i18n %}

{% block content %}
<form method="post"  class="form-horizontal" action=".">
    {% csrf_token %}
    <div class="form-group">
        <div class="row">
            <label class="control-label col-sm-offset-1 col-sm-3" for="id_{{ form.email.name }}">{% trans 'Email' %}:</label>
            <div class="col-sm-6">
                <input class="form-control" type="email" id="id_{{ form.email.name }}" name="{{ form.email.name }}">
            </div>
        </div>
    </div>
    <div class="form-group">
            <div class="row">
                <div class="col-sm-offset-4 col-sm-3">
                      <input  class="btn btn-success" type="submit" value="{% trans 'Submit' %}" />
                </div>
            </div>
    </div>
</form>
{% endblock %}
