{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans "Enterprise list" %} {% endblock %}
{% block content %}
    <div class="row">
        <div class="row">
            <div class="col-sm-offset-3 col-sm-2 view">
                <p>Ver como:</p>
            </div>
            <div class="col-sm-1 list-icon icon-color list-btn">
                <div class="row">
                    <div class="col-sm-6">
                    <i class="fa fa-list" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-6">
                        <span class="txt">Lista</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-1 list-icon rack-btn">
                <div class="row">
                    <div class="col-sm-6">
                        <i class="fa fa-th-large" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-6">
                        <span class="txt">Rejilla</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <table class="table table-striped">
                <thead>
                    <tr class="info">
                        <th>Created By</th>
                        <th>Event Date</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Routes</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for event in object_list %}
                    <tr>
                        <td>{{ event.created_by }}</td>
                        <td>{{ event.event_date }}</td>
                        <td>{{ event.description }}</td>
                        <td>{{ event.type }}</td>
                        <td>
                            <ul>
                                {% for route in event.route %}
                                    <li>{{ route.name }}</li>
                                {% endfor %}
                            </ul>
                         </td>
                        <td class="actions">
                            <a href="{% url 'event_edit' event.id %}">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                                Editar
                            </a>
                            <a href="{% url 'event_delete' event.id %}">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                                Eliminar
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-offset-1 col-sm-10 col-sm-offset-1" id="data"></div>
    </div>
    <script src="{% static 'js/table.js' %}"></script>
{% endblock %}