{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Enterprise list" %} {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-4">
            <table class="table table-striped">
                <thead>
                    <tr class="info">
                        <th>Created By</th>
                        <th>Event Date</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Routes</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for event in object_list %}
                    <tr>
                        <td>{{ event.created_by }}</td>
                        <td>{{ event.event_date }}</td>
                        <td>{{ event.description }}</td>
                        <td>{{ event.type }}</td>
                        <td>
                            <ul>
                                {% for route in event.route %}
                                    <li>{{ route.name }}</li>
                                {% endfor %}
                            </ul>
                         </td>
                        <td class="actions">
                            <a href="{% url 'event_edit' event.id %}">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                                Editar
                            </a>
                            <a href="{% url 'event_delete' event.id %}">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                                Eliminar
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}