{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Enterprise list" %} {% endblock %}
{% block content %}
    <table id="t01">
        <tr>
            <th>#</th>
            <th>Fullname</th>
            <th>Document</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Email</th>
            <th>Admin by</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        {% for client in object_list %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.fullname }}</td>
                <td>{{ client.document }}</td>
                <td>{{ client.phone }}</td>
                <td>{{ client.address }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.enterprise.admin_by }}</td>
                {% if client.is_active %}
                    {% trans "Activada" as status %}
                    {% trans "Desactivar" as account %}
                {% else %}
                    {% trans "Desactivada" as status %}
                    {% trans "Activar" as account %}
                {% endif %}
                <td>{{ status }}</td>
                <td>
                    <a href="{% url 'client_edit' client.id %}">Editar</a>
                    <a href="{% url 'client_deactivate' client.id %}">{{ account }} cuenta</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}