{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Enterprise list" %} {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-4">
            <table class="table table-striped">
                <thead>
                    <tr class="info">
                        <th>Fullname</th>
                        <th>Document</th>
                        <th>Phone</th>
                        <th>Address</th>
                        <th>Email</th>
                        <th>Admin by</th>
                        <th>Status</th>
                        <th>Observations</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for client in object_list %}
                    <tr>
                        <td>{{ client.fullname }}</td>
                        <td>{{ client.document }}</td>
                        <td>{{ client.phone }}</td>
                        <td>{{ client.address }}</td>
                        <td>{{ client.email }}</td>
                        <td>{{ client.enterprise.admin_by }}</td>
                        {% if client.is_active %}
                            {% trans "Activada" as status %}
                            {% trans "Desactivar" as account %}
                            {% trans "fa-trash" as icon %}
                        {% else %}
                            {% trans "Desactivada" as status %}
                            {% trans "Activar" as account %}
                            {% trans "fa-check" as icon %}
                        {% endif %}
                        <td>{{ status }}</td>
                        <td>{{ client.observations }}</td>
                        <td class="actions">
                            <a href="{% url 'client_edit' client.id %}">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                                Editar
                            </a>
                            <a href="{% url 'client_deactivate' client.id %}">
                                <i class="fa {{ icon }}" aria-hidden="true"></i>
                                {{ account }} cuenta
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}