{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}User test{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block headers %}
    {% endblock %}
</head>

<body>
    <div class="container">
        <div id="header">
            <img src="/static/img/logo.png" alt="logo">
            {% block header %}
            <a href="{% url 'index' %}">{% trans "Home" %}</a> |
            {% if user.is_authenticated %}
                {% trans "Logged in" %}: {{ user.username }}
                (<a href="{% url 'user_edit' user.id %}">{% trans "Edit" %}</a> |
                <a href="{% url 'user_deactivate' user.id %}">{% trans "Deactivate account" %}</a>)
                (<a href="{% url 'auth_logout' %}">{% trans "Log out" %}</a> |
                <a href="{% url 'auth_password_change' %}">{% trans "Change password" %}</a>)
            {% else %}
               <a href="{% url 'auth_login' %}">{% trans "Log in" %}</a>
            {% endif %}
            <hr />
            {% endblock %}
        </div>

        <div class="row background-dark">
            <div class="col-sm-3 background-blue">
                <nav class="navbar navbar-default" role="navigation">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Brand</a>
                  </div>

                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                      <li class="active"><a href="#">Link</a></li>
                      <li><a href="#">Link</a></li>
                    </ul>
                  </div><!-- /.navbar-collapse -->
                </nav>
            </div>
            <div class="col-sm-7">
                <img src="/static/img/background.jpg" alt="background">
                {% block content %}{% endblock %}
            </div>
            <div class="col-sm-2">
                <img src="/static/img/aside.jpg" alt="background">
            </div>
        </div>

        <div id="footer">
        {% block footer %}
            <hr />
            <div class="row background-blue radius">
                <div class="col-md-offset-2 col-sm-2">
                    <p>SÚPER</p>
                    <p>ADMINISTRADOR</p>
                </div>
                <div class="col-md-offset-2 col-sm-5">
                    <p>Dirección y teléfonos de contacto</p>
                </div>
            </div>
        {% endblock %}
        </div>
    </div>
</body>
</html>
