{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %} Home {% endblock %}

{% block content %}
    {% if msg %}
        <div id="msg">
            <div class="row">
                <div class="col-sm-offset-1">
                    <img src="{% static 'img/Warning-Logo.png' %}" alt="Warning">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-3">
                    <h1>{{ msg }}</h1>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}