{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Enterprise list" %} {% endblock %}
{% block content %}
    <table id="t01">
        <tr>
            <th>#</th>
            <th>Nit</th>
            <th>Social responsibility</th>
            <th>Address</th>
            <th>Email</th>
            <th>Admin by</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        {% for enterprise in object_list %}
            <tr>
                <td>{{ enterprise.id }}</td>
                <td>{{ enterprise.nit }}</td>
                <td>{{ enterprise.social_respon }}</td>
                <td>{{ enterprise.address }}</td>
                <td>{{ enterprise.email }}</td>
                <td>{{ enterprise.admin_by }}</td>
                {% if enterprise.is_active %}
                    {% trans "Activada" as status %}
                    {% trans "Desactivar" as account %}
                {% else %}
                    {% trans "Desactivada" as status %}
                    {% trans "Activar" as account %}
                {% endif %}
                <td>{{ status }}</td>
                <td>
                    <a href="{% url 'enterprise_edit' enterprise.id %}">Editar</a>
                    <a href="{% url 'enterprise_deactivate' enterprise.id %}">{{ account }} cuenta</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}