{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
    <form method="post" action="" id="route_form">
        {% csrf_token %}
        <div class="form-group">
            <div class="row">
                <label class="control-label col-sm-offset-1 col-sm-3" for="id_name">{% trans 'Name' %}:</label>
                <div class="col-sm-6">
                    {{ form.name }}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-offset-4 col-sm-3">
                    <button type="button" class="btn btn-warning" id="clear_route">Limpiar Mapa</button>
                </div>
                <div class="col-sm-offset-2 col-sm-2">
                    <button id="btn-route" class="btn btn-info" onclick="calcAndDisplayRoute(true)" id="add">
                        <i class="fa fa-location-arrow" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="hidden" id="id_{{ form.directions.name }}" name="{{ form.directions.name }}" value="{{ form.directions.value }}">
            <input type="hidden" id="id_{{ form.meta_clients.name }}" name="{{ form.meta_clients.name }}" value="{{ form.meta_client.value }}">
        </div>
    </form>
    <div class="row text-center">
        <div class="col-sm-offset-1">
            <div id="map"></div>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-offset-1">
            <div id="clients">
                {% if clients %}
                    <h3>{% trans "Clientes" %}</h3>
                    {% for client in clients %}
                        <div class="client_route" id="{{ client.id }}">
                            <div class="client_data left" style="width: 80%">
                                <strong>{{ client.fullname }}</strong>
                                <p>{{ client.address }}</p>
                            </div>
                            <div class="client_data right count" style="width: 17%;">
                                <div class="center"></div>
                            </div>
                            <input name="lat" type="hidden" value="{{ client.lat }}">
                            <input name="lng" type="hidden" value="{{ client.lon }}">
                        </div>
                    {% endfor %}
                {%  endif %}
            </div>
        </div>
    </div>
    <ul id="content_routes"></ul>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBav6CYAcpkgFJTDZPaBgO05Kf2Q2DG9mw&callback=initMap" async defer></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://code.getmdl.io/1.2.1/material.min.js"></script>
    <script src="{% static 'js/edit_route_map.js' %}"></script>
{% endblock %}
